/* Modal Start */
.modal {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    // Center Modal //
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    overflow: hidden; // stop horizontal scroll

    // Hide modal by default //
    visibility: hidden;
    z-index: -1;
    transition: visibility 1s, z-index 1s, box-shadow 0.5s ease;
}
/* toggle--modal class added by JavaScript */
.toggle--modal .modal {
    z-index: 100;
    box-shadow: 0 20px 80px 0 rgba(0, 0, 0, 0.5);
    visibility: visible;
}
/* Hide everything when modal opens */
.toggle--modal .page__title,
.toggle--modal .project__wrapper,
.toggle--modal nav,
.toggle--modal .header,
.toggle--modal .scroll {
    opacity: 0;
    visibility: hidden;
    transition: all 450ms ease;
}
.modal__half {
    // Both halfs of the modal //
    width: 50%;
    padding: 2em 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    transition: all 300ms ease-in-out;
}
.modal__about {
    background-color: #ECF0F1;
    transform: translateX(-110%); // keep off screen to the left
}
.modal__contact {
    background-color: #E5E7E9;
    transform: translateX(110%); // keep off screen to the right
}
.toggle--modal .modal__about,
.toggle--modal .modal__contact {
    // slide both halves to the center when toggle--modal is added via JavaScript
    transform: translateX(0%);
}
.modal__title {
    font-size: 2em;
}
.modal__sub-title {
    margin: 1em 0 1.5em 0;
    font-size: 1.2em;
}
.modal__para {
    margin-bottom: 1.5em;
    line-height: 1.75;
}
.modal__languages {
    display: grid;
    grid-template-columns: repeat(4, 1fr); // 4 columns of 1 fraction
}
.modal__language {
    width: 2em;
    height: 2em;
    transition: all 300ms ease;
}
.modal__language:hover {
    // Reduce both to 90% //
    transform: scale(0.9);
    filter: brightness(90%);
}
// =========== Contact Half ==========
#contact__form {
    background-color: #E5E7E9;
}
.form__item {
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
}
.form__item--label {
    font-weight: 500;
}
.form__submit {
    outline: none;
    color: $background-color;
    font-weight: 700;
    width: 100%;
    max-width: 240px;
    padding: 0.5em;
    font-size: 1.5em;
    text-transform: uppercase;
    position: relative;
    cursor: pointer;
    border-radius: 0.25em;
}
.send__btn {
    background-color: $bold;
    box-shadow: 0 5px 0 #2874A6; // Makees the button look more 3D
}
.form__submit:active {
    // Makes the button look like its being clicked //
    box-shadow: none;
    top: 5px;
}
// ====== Modal Contact Half End ============ //

// ====== Modal overlay ==== //
.modal__overlay {
    // Hide by default //
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: -1;
}
.modal__overlay--loading {
    // loading spinner div bg //
    background-color: #E5E7E9;
}
.fa-check {
    color: $bold;
    font-size: 3em;
}
.modal__overlay--success {
    // success message after loading spinner //
    background-color: #E5E7E9;
    display: flex;
    flex-direction: column;
    font-size: 1.5em;
    font-weight: 700;
    text-align: center;
    padding: 2em;
}
.modal__overlay--visible {
    z-index: 1000;
    display: flex;
}
.fa-circle-xmark {
    position: absolute;
    top: 1em;
    right: 1.5em;
    color: $dark-color;
    font-size: 2.5em;
    z-index: 1001;
}
/* Spinner for loading state animation */
.fa-circle-notch {
    animation: spin 750ms infinite;
    font-size: 5em;
    color: $bold;
}
@keyframes spin {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg)
    }
}
/* Modal End */