/* Projects Page Start */
.project__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Column of 1fraction repeated 3 times to get 3 columns */
    grid-gap: 1.5em;
    grid-auto-rows: minmax(100px, auto); /* Min row height 100px and auto increase if needed */
    place-content: center;   
}
.project__description:nth-last-child(n) {
    margin-bottom: 5em;
}
.page__title {
    font-size: 48px;
    color: $light-color;
    text-align: center;
    margin-bottom: 2.5em;
}
.project__description {
    transition: all 1000ms ease;
}
.project__description:hover .project__img {
    // scale up 7%
    transform: scale(1.07);
    filter: blur(5px);
}
.project__description--wrapper {
    position: relative; // .description
    box-shadow: 0 20px 32px 0 rgba(0, 0, 0, 0.5);
    border-radius: 0.5em;
    overflow: hidden;
}
.project__description--wrapper:hover .description {
    opacity: 1;
    transform: translateY(-50%);
}
.description {
    position: absolute; // .project__description--wrapper
    top: 50%;
    transform: translateY(100%); // set text down lower as default
    opacity: 0; // make invisible by default
    transition: opacity 700ms ease-in-out, transform 700ms ease;
    text-align: center;
}
.project__description--wrapper:hover .project__description--bg {
    // Tint the background while hovering so the text can be readable
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left top, #ddd, $bold, #242424);
    opacity: 0.2;
}
.project__title {
    font-size: 22px;
}
.project__sub-title {
    margin: 0.5em 0;
    font-size: 14px;
    color: $bold;
}
.project__para {
    padding: 0 1em;
    font-size: 14px;
}
.project__links {
    margin-top: 0.5em;
    i {
        color: $bold;
        font-size: 20px;
        margin: 0 0.5em;
    }
}
/* Project Page End */