* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
html {
    scroll-behavior: smooth;
}
img {
    width: 100%;
}
a {
    text-decoration: none;
    color: $light-color;
}
body {
    background-color: $background-color;
    line-height: 1.6;
    margin: 0 auto;
    width: 100%;
}
.bold {
    color: $bold;
    cursor: pointer;
}
.container {
    margin: 3rem 0;
}
.row {
    padding: 0 50px;
}
input, textarea {
    width: 100%;
    background-color: #ECF0F1;
    outline: none;
    border: 3px solid #D0D3D4;
    border-top: none;
    border-left: none;
    border-right: none;
    height: 1.5em;
    transition: all 300ms ease;
}
input:hover, textarea:hover {
    border-color: #242424;
}
input:focus, textarea:focus {
    border-color: $bold;
}
textarea {
    resize: vertical;
    height: 100px;
    margin-top: 0.5em;
}
::-webkit-scrollbar {
    width: 1em;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0.25em grey;
    border-radius: 1em;
}
::-webkit-scrollbar-thumb {
    background: #38b6ff;
    border-radius: 1em;
}