@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import 'config';
@import 'utilities';
@import 'nav';
@import 'modal';
@import 'landingPage';
@import 'projectsPage';
@import 'footer';
@import 'mediaQueries';


/* # Global Styles Start # */

/* Dark Mode */
.dark-mode nav {
    background-color: $dark-color;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.1);

    i,
    .nav__link {
        color: $darkMode-font;
    }
    a::after {
        background-color: $darkMode-font;
    }
}
.footer__logo--dark,
.dark__logo,
.dark-mode .light__logo,
.dark-mode .footer__logo--light {
    display: none;
}
.dark-mode .footer__logo--dark,
.dark-mode .dark__logo {
    display: block;
}
.dark-mode #landing__page {
    background-color: $dark-color;
}
.dark-mode .header__name {
    text-shadow: 2px 2px rgba(255, 255, 255, 0.5);
    div {
        background-color: $darkMode-font;
    }
}
.dark-mode .modal__overlay--success,
.dark-mode .modal__title,
.dark-mode .modal__sub-title,
.dark-mode .modal__para,
.dark-mode .form__item--label,
.dark-mode .sideNav a,
.dark-mode .footer__link,
.dark-mode .page__title,
.dark-mode .header__para,
.dark-mode .header__title,
.dark-mode .scroll__icon,
.dark-mode .fa-circle-xmark {
    color: $darkMode-font;
}
.dark-mode .header__title {
    text-shadow: 1px 2px rgba(0, 0, 0, 0.5);
}
.dark-mode .modal__overlay--success,
.dark-mode .modal__overlay--loading,
.dark-mode .modal__about,
.dark-mode #contact__form,
.dark-mode .modal__contact {
    background-color: $light-color;
}
.dark-mode input,
.dark-mode textarea {
    background-color: #cccccc;
}
.dark-mode .sideNav,
.dark-mode body,
.dark-mode .container,
.dark-mode .row,
.dark-mode #projects__page {
    background-color: $dark-color;
}
.dark-mode footer {
    box-shadow: 0 -4px 8px rgba(255, 255, 255, 0.1);

    a::after {
        background-color: $darkMode-font;
    }
}
.dark-mode .copyright__para {
    color: $light-color;
}
/* Dark Mode End */

/* Shapes */
.shape {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.0);
    $num: 15;
    @for $i from random($num) through random($num) {
        &-#{$i} {
            animation: twinkle #{(random($num)/8)+ 2}s infinite ease #{random($num)/2}s;
            // animation: twinkle 0.75s infinite ease;
        }
        top: random()/2+px;
        left: random()+px;
    }

}
/* Row 1 */
.shape-1 {
    position: fixed;
    top: 18vh;
    left: 5vw;
}
.shape-2 {
    position: fixed;
    top: 25vh;
    left: 25vw;
}
.shape-3 {
    position: fixed;
    top: 18vh;
    left: 50vw;
}
.shape-4 {
    position: fixed;
    top: 30vh;
    left: 70vw;
}
.shape-5 {
    position: fixed;
    top: 18vh;
    left: 80vw;
}
// /* Row 2 */
.shape-6 {
    position: fixed;
    top: 50vh;
    left: 5vw;
}
.shape-7 {
    position: fixed;
    top: 70vh;
    left: 25vw;
}
.shape-8 {
    position: fixed;
    top: 50vh;
    left: 50vw;
}
.shape-9 {
    position: fixed;
    top: 90vh;
    left: 68vw;
}
.shape-10 {
    position: fixed;
    top: 50vh;
    left: 80vw;
}
// /* Row 3 */
.shape-11 {
    position: fixed;
    top: 80vh;
    left: 5vw;
}
.shape-12 {
    position: fixed;
    top: 70vh;
    left: 25vw;
}
.shape-13 {
    position: fixed;
    top: 80vh;
    left: 50vw;
}
.shape-14 {
    position: fixed;
    top: 70vh;
    left: 65vw;
}
.shape-15 {
    position: fixed;
    top: 80vh;
    left: 80vw;
}
@keyframes twinkle {
    0% {
        transform: scale(1, 1);
        background: darkturquoise; //#8cfbfd
        animation-timing-function: ease-in;
    }
    60% {
        transform: scale(0.8, 0.8);
        background: darkturquoise;
        box-shadow: 1px 1px rgba(255, 255, 255, 0.5);
        animation-timing-function: ease-out;
    }
    80% {
        background: rgba(255, 255, 255, 0.0); //#cefeff
        transform: scale(1, 1);
    }
    100% {
        background: rgba(255, 255, 255, 0.00); //#ffffff
        transform: scale(1, 1);
    }
}
/* # Shapes End # */
/* # Global Styles End # */