/* # Global Styles Start # */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import 'config';
@import 'utilities';
/* # Global Styles End # */

/* # Navigation # */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    background-color: $background-color;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);

    .logo__div {
        width: 100px;
        height: 100px;
        margin: 1em;
    }

    ul {
        display: flex;
        list-style-type: none;
    }

    li {
        padding: 0.75em;
    }

    a {
        font-weight: 500;
        font-size: 1em;
        position: relative;
    }

    a::after {
        /* Underline goes to the right 0 and width 0 when not hovering */
        content: "";
        position: absolute;
        bottom: -3px;
        height: 3px;
        width: 0;
        right: 0;
        background-color: $light-color;
        transition: all 300ms ease;
    }

    a:hover::after {
        /* Underline goes to the left 0 and width 100% smoothly via transition */
        left: 0;
        width: 100%;
    }

    .fa-bars {
        display: none;
    }
}
/* # End of Navigation # */

/* Landing Page Start */
#landing__page {
    min-height: 100vh;
}
/* Loading State Blur */
.bg {
    filter: blur(0px);
}
.loading-text {
    color: $light-color;
    font-size: 50px;
}
/* ------------------ */
.header,
.loading-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0 1em;
    height: 400px;
}
.header__title {
    font-weight: 700;
    font-size: 70px;
    color: $light-color;
    text-shadow: 2px 2px rgba(255, 255, 255, 0.5);
    position: relative;

    div {
        height: 1.75em;
        width: 2.75em;
        background-color: $bold;
        border-radius: 65% 0 65% 0 / 100%;
        position:absolute;
        top: 1%;
        left: 5%;
        z-index: -1;
    }
}
.header__name {
    color: $bold;
    font-weight: 700;
    font-size: 70px;
    text-align: center;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
    position: relative;
    padding-left: 14px;

    div {
        height: 1.75em;
        width: 4.75em;
        background-color: $light-color;
        border-radius: 0 50% 0 50% / 100%;
        position:absolute;
        top: 1%;
        left: 10%;
        z-index: -2;
    }
}
.header__para {
    font-weight: 500;
    color: $light-color;
    font-size: 24px;
    margin: 1em 0;
    line-height: 2;
    text-align: center;
}
.social__links {
    margin-top: 1em;
    display: flex;
    justify-content: center;
}
.social__link {
    font-size: 2rem;
    color: $bold;
    margin: 0 0.5em;
    justify-content: center;
}
/* Animate the down arrows */
.scroll {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    margin: 2em 0;
}
.scroll__icon {
    font-size: 1.5em;
    animation: scroll 2s infinite alternate-reverse;
}
@keyframes scroll {
    0% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(-10px);
    }
}
/* Landing Page End */

/* Projects Page Start */
.project__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Split columns into 1 fraction and repeat 3 times to get 3 columns */
    grid-gap: 1.5em;
    grid-auto-rows: minmax(100px, auto); /* Min row height 100px and auto increase if needed */
    place-content: center;
}
.page__title {
    font-size: 48px;
    color: $light-color;
    text-align: center;
    margin-bottom: 2.5em;
}
.project__description {
    transition: all 1000ms ease;
}
.project__description:hover .project__img {
    // scale 7%
    transform: scale(1.07);
    filter: blur(5px);
}
.project__description--wrapper {
    position: relative; // .description
    box-shadow: 0 20px 32px 0 rgba(0, 0, 0, 0.5);
    border-radius: 0.5em;
    overflow: hidden;
}
.project__description--wrapper:hover .description {
    opacity: 1;
    transform: translateY(-50%);
}
.description {
    position: absolute; // .project__description--wrapper
    top: 50%;
    transform: translateY(100%); // set text down lower as default
    opacity: 0; // make invisible as default
    transition: opacity 700ms ease-in-out, transform 700ms ease;
    text-align: center;
}
.project__description--wrapper:hover .project__description--bg {
    // Tint the background while hovering so the text can be readable
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left top, #ddd, $bold, #242424);
    opacity: 0.2;
}
.project__title {
    font-size: 22px;
}
.project__sub-title {
    margin: 0.5em 0;
    font-size: 14px;
    color: $bold;
}
.project__para {
    padding: 0 1em;
    font-size: 14px;
}
.project__links {
    margin-top: 0.5em;
    i {
        color: $bold;
        font-size: 20px;
        margin: 0 0.5em;
    }
}
/* Project Page End */

/* Footer Start */
footer {
    margin-top: 8em;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.5);

    .row {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer__logo {
        width: 100px;
        height: 100px;
        margin: 2em;
    }

    .footer__list {
        margin-bottom: 2em;
    }

    a {
        font-weight: 500;
        font-size: 1em;
        position: relative;
        margin: 0 1em;
    }

    a::after {
        /* Underline goes to the right 0 and width 0 when not hovering */
        content: "";
        position: absolute;
        bottom: -3px;
        height: 3px;
        width: 0;
        right: 0;
        background-color: $light-color;
        transition: all 300ms ease;
    }

    a:hover::after {
        /* Underline goes to the left 0 and width 100% smoothly via transition */
        left: 0;
        width: 100%;
    }

    .copyright {
        margin: 1em 0;
    }

    .copyright__para {
        font-size: 1em;
        font-weight: 400;
        color: #ccc;
    }
}
/* Footer End */

/* Media Queries */
@media(max-width: 1200px) {
    .header__title,
    .header__name {
        font-size: 50px;
    }
    .header__para {
        font-size: 22px;
    }
    .page__title {
        font-size: 38px;
    }
    .project__title {
        font-size: 20px;
    }
    .project__sub-title {
        margin: 0;
    }
    .project__para {
        font-size: 12px;
    }
    .project__links {
        margin: 0 0.25em;
    }
}

@media(max-width: 1024px) {
    .header__title,
    .header__name {
        font-size: 40px;
    }
    .header__para {
        font-size: 18px;
    }
    .page__title {
        font-size: 32px;
    }
    .project__wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width: 768px) {
    .header__title,
    .header__name {
        font-size: 26px;
    }
    .header__para {
        font-size: 16px;
    }
    .page__title {
        font-size: 26px;
    }
    .project__wrapper {
        grid-template-columns: repeat(1, 1fr);
    }
    .footer__list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer__link {
        margin: 1em 0;
    }
}

@media(max-width: 480px) {
    .nav__link {
        display: none;
    }
    nav .fa-bars {
        display: inline;
        font-size: larger;
    }
    nav .fa-bars:hover {
        transform: scale(1.07);
    }
    .header__title,
    .header__name {
        font-size: 22px;
    }
    .page__title {
        font-size: 22px;
    }
    .project__title {
        font-size: 16px;
    }
    .project__sub-title {
        display: none;
    }
    .project__links {
        margin: 0;
        font-size: 16px;
    }
    footer .copyright__para {
        font-size: 0.5em;
    }
}

@media(max-width: 320px) {
    nav {
        flex-direction: column;
        height: 20vh;
    }
    .header__title,
    .header__name {
        font-size: 16px;
    }
    .header__title {
        text-shadow: 1px 1px rgba(255, 255, 255, 0.5);
    }
    .header__name {
        text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
    }
    .header__para {
        font-size: 14px;
    }
}