/* # Global Styles Start # */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import 'config';
@import 'utilities';
@import 'nav';
@import 'modal';
@import 'landingPage';
@import 'projectsPage';
@import 'footer';
@import 'mediaQueries';

.dark-mode nav {
    background-color: $dark-color;

    i,
    .nav__link {
        color: $darkMode-font;
    }
    a::after {
        background-color: $darkMode-font;
    }
}
.footer__logo--dark,
.dark__logo,
.dark-mode .light__logo,
.dark-mode .footer__logo--light {
    display: none;
}
.dark-mode .footer__logo--dark,
.dark-mode .dark__logo {
    display: block;
}
.dark-mode #landing__page {
    background-color: $dark-color;
}
.dark-mode .header__name {
    text-shadow: 2px 2px rgba(255, 255, 255, 0.5);
    div {
        background-color: $darkMode-font;
    }
}
.dark-mode .modal__title,
.dark-mode .modal__sub-title,
.dark-mode .modal__para,
.dark-mode .form__item--label,
.dark-mode .sideNav a,
.dark-mode .footer__link,
.dark-mode .page__title,
.dark-mode .header__para,
.dark-mode .header__title,
.dark-mode .scroll__icon {
    color: $darkMode-font;
}
.dark-mode .header__title {
    text-shadow: 1px 2px rgba(0, 0, 0, 0.5);
}
.dark-mode .modal__about,
.dark-mode #contact__form,
.dark-mode .modal__contact {
    background-color: $light-color;
}
.dark-mode .sideNav,
.dark-mode body,
.dark-mode .container,
.dark-mode .row,
.dark-mode #projects__page {
    background-color: $dark-color;
}
.dark-mode footer {
    a::after {
        background-color: $darkMode-font;
    }
}
.dark-mode .copyright__para {
    color: $light-color;
}
/* # Global Styles End # */